[
  {
    "url": "http://localhost:8080/sa2_cron/tests/test_min.php",
    "cron_time": "every_minute"
  },
  {
    "url": "http://localhost:8080/sa2_cron/tests/test_hr.php",
    "cron_time": "hourly"
  },
  {
    "url": "http://localhost:8080/sa2_cron/tests/test_daily.php",
    "cron_time": "daily"
  }
]
